body{
    background-color: #111111;
}
h1{
    color:#E2E80F;
    text-align: center;
    font-size:x-large;
}
p{
    color:#eeeeee;
    font-size: large;
    line-height: 20px;
}
p .credits{
    text-decoration:underline, #49DAFF;
    cursor: pointer; 
}
#film-description{
    font-size:small;

}